<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">


	<test thread-count="5" name="Dev Test">
		<parameter name="baseurl" value="https://petstore.swagger.io/v2/"></parameter>
		<classes>
			<class name="com.johndeere.test.AddPetTest" />
		</classes>
	</test> <!-- Test -->

	<test thread-count="5" name="QA Test">
		<parameter name="baseurl" value="https://petstore.swagger.io/v2/"></parameter>
		<classes>
			<class name="com.johndeere.test.AddPetTest" />
		</classes>
	</test> <!-- Test -->

</suite> <!-- Suite -->